{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>El Buque Restaurant - {% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'core/img/fevicon.png' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'core/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'core/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/vendors/Magnific-Popup/magnific-popup.css' %}">

  <link rel="stylesheet" href="{% static 'core/css/style2.css' %}">
</head>

<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'core/img/logobuque.png' %}"
              alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
              </li>
            <!--  <li class="nav-item {% if request.path == '/menu/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'menu' %}">Menú</a>
              </li>
               <li class="nav-item {% if request.path == '/chef/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'chef' %}">Personal</a>
              </li>
              <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
              </li>
              <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contactos</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================Hero Banner Section start =================-->
  <section class="hero-banner">
    <div class="hero-wrapper">
      <div class="hero-left">
        <h1 class="hero-title">{% block tema %}{% endblock tema %}</h1>
        {% block subtema %}{% endblock subtema %}
        {% block media %}{% endblock %}
        <ul class="hero-info d-none d-lg-block">
          <li>
            <img src="{% static 'core/img/banner/relax.png' %}" alt="" width="60" height="70">
            <h4>El Mejor <br> Lugar</h4>
          </li>
          <li>
            <img src="{% static 'core/img/banner/fish_fresh.png' %}" alt="" width="60" height="70">
            <h4>Mariscos <br> Frescos</h4>
          </li>
          <li>
            <img src="{% static 'core/img/banner/bestservice.png' %}" alt="" width="70" height="70">
            <h4>El mejor <br> servicio</h4>
          </li>
        </ul>
      </div>
      <div class="hero-right">
        <div class="owl-carousel owl-theme hero-carousel">
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{% static 'core/img/banner/hero-banner1.jpg' %}" alt="" width="825"
              height="870">
          </div>
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{% static 'core/img/banner/hero-banner2.png' %}" alt="">
          </div>
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{% static 'core/img/banner/hero-banner1.png' %}" alt="">
          </div>
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{% static 'core/img/banner/hero-banner2.png' %}" alt="">
          </div>
        </div>
      </div>
      <ul class="social-icons d-none d-lg-block">
        <li><a href="https://www.facebook.com/elbuquerestaurante/"><i class="ti-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/restauranteelbuque/"><i class="ti-instagram"></i></a></li>
        <li><a href="#"><i class="ti-twitter"></i></a></li>
      </ul>
    </div>
  </section>
  <!--================Hero Banner Section end =================-->

  {% block content %}{% endblock %}
  <hr width="1400">
  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <div id="fb-root">
          </div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v5.0&appId=2013276912117313&autoLogAppEvents=1"></script>
          <div class="fb-page" data-href="https://www.facebook.com/elbuquerestaurante/" data-tabs="timeline"
            data-width="" data-height="300" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/elbuquerestaurante/" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/elbuquerestaurante/">
                Restaurante El Buque</a></blockquote>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
              <div id="map" style="height: 300px;"></div>
              <script>
                function initMap() {
                  // The location of Uluru
                  var uluru = { lat: 0.9942674, lng: -79.5654575 };
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 10, center: uluru });
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({ position: uluru, map: map });
                }
              </script>
              <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
              <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC261ypm_oBkOWfGW6hQWXvjKPInyu5CE&callback=initMap">
                </script>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4>Contactos</h4>
          <ul>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-location-pin"></i></span>
              <div class="media-body">
                <h3>Camanores, Esmeraldas, Ecuador</h3>
                <p>Malecon de Camarones</p>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-tablet"></i></span>
              <div class="media-body">
                <h3><a href="tel:+593985091056">(+593)985091056</a></h3>
                <p>Llamadas de 9:00 am a 20:00 pm</p>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-email"></i></span>
              <div class="media-body">
                <h3><a href="mailto:elbuquemarinero@gmail.com">elbuquemarinero@gmail.com</a></h3>
                <p>Envia tu mensaje en cualquier <br> momento!</p>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="footer-bottom row align-items-center text-center text-lg-left">
        <p class="footer-text m-0 col-lg-8 col-md-12">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | El Buque Restaurant
          <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Borys Jair
            Espinoza</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="https://www.facebook.com/theborycuas"><i class="ti-facebook"></i></a>
          <a href="https://twitter.com/theborysinho"><i class="ti-twitter-alt"></i></a>
          <a href="https://www.borysespinoza.com"><i class="ti-dribbble"></i></a>
          <a href="https://www.linkedin.com/in/borys-jair-espinoza-zamora-770844169/"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

  <script src="{% static 'core/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'core/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'core/vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'core/vendors/Magnific-Popup/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'core/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'core/js/mail-script.js' %}"></script>
  <script src="{% static 'core/js/main.js' %}"></script>
</body>

</html>